<!DOCTYPE html>
<html>
  <head>
    <title>Spree Theme Editor</title>
    <%= javascript_include_tag 'spraycan/selector/all' %>
    <%= stylesheet_link_tag 'spraycan/selector/all' %>
    <script type="text/javascript">
      Spraycan.public_file_path = '/spraycan/';
    </script>
    <%= javascript_include_tag '/spraycan/state', :id => 'selector_state' %>
  </head>
  <body>
    <div id="spreeworks-editor" class="ui-draggable">
      <div class="content">
        <div class="wrap" id="main">
        </div>
      </div>
      <div class="toolbar">
        <div class="wrap">
          <nav class="actions">
            <ul>
              <li class="drag">
                <span class="icon"></span>
              </li>
              <li class="ajax-spinner visible">
                <span class="icon"></span>
              </li>
              <li class="show-hide hidden">
                <span class="icon"></span>
              </li>
              <li class="save hidden">
                <a href="#save"><span class="icon"></span></a>
              </li>
            </ul>
          </nav>
          <nav class="tabs">
            <ul>
              <li class="themes"><a href="#tab-themes">Themes</a></li>
              <li class="layouts"><a href="#tab-layouts">Layouts</a></li>
              <li class="colors"><a href="#tab-colors">Colors</a></li>
              <li class="fonts"><a href="#tab-fonts">Fonts</a></li>
              <li class="images"><a href="#tab-images">Images</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>

    <iframe src="/"></iframe>
  </body>
</html>
