<div  class="uploader qq-uploader">
  <div class="qq-upload-drop-area" class="state drag">
    <div class="message"><span>Drop here!</span></div>
  </div>
  <a href="#" class="qq-upload-button">
    <div class="state ready visible">
      <div class="message">Drag or click here to upload</div>
    </div>
  </a>
  <ul class="qq-upload-list"></ul>
  <div class="state uploading hidden">
    <h6>Uploading ...</h6>
    <div class="progressbar ui-progressbar ui-widget ui-widget-content ui-corner-all" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="37"><div class="ui-progressbar-value ui-widget-header ui-corner-left" style="width: 37%; "></div></div>
  </div>
  <div class="state edit hidden">
    <div class="chessboard">
      <div class="images-upload-background" style="background: url('/images/toolbar/favicon-muzarena.png') no-repeat center;"></div>
      <ul class="actions inline hidden">
        <li class="zoom"><a href="javascript:void(0);"><img src="/images/toolbar/uploader-zoom.png"></a></li>
        <li class="delete"><a href="javascript:void(0);"><img src="/images/toolbar/uploader-delete.png"></a></li>
      </ul>
    </div>
  </div>
</div>
